.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.min-height-200 {
    min-height: 200px;
}

.list-no-style {
    list-style: none;
}
