.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.min-height-200 {
    min-height: 200px;
}

.list-no-style {
    list-style: none;
}

.property-image {
    height: 150px;
}
.start-list-item{
    float: none;
    margin: 0 auto;
    width: 200px;
}

/* page transition */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}