.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-60 {
    padding-top: 60px;
}

.min-height-200 {
    min-height: 200px;
}

.list-no-style {
    list-style: none;
}

.property-image {
    width: 100%;
}

.property-img {
    margin-left: 5%;
    width: 30%;
    display: inline-block;
    float: left;
}

.property-info {
    width: 60%;
    display: inline-block;
    float: left;
}

.start-list-item{
    float: none;
    margin: 0 auto;
    clear: both;
    font-size: 18px;
}

.action-start-task-checkbox {
    max-width: 20px;
}

/* page transition */
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}